@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
    color: white;
}

nav a {
    color: #726E6D;
    font-size: 12px;
}

nav a:hover {
    color: white;
}

.btn-genres {
    height: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 12px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

footer a {
    color: #424242;
    font-size: 0.85rem;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer svg {
    color: #424242;
}

.btn-footer {
    color: #424242;
    border: 1px solid #424242;
    font-size: 0.60rem;
}