.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url(https://global-uploads.webflow.com/61a98989a418f6f2acefef70/61ddecf2ff89602dd33bf5d9_samsung_837X_StoreDecentraland.jpg);
  background-repeat: round;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: #1d1e1e;
  color: aliceblue;
}

.navbar a {
  color: aliceblue;
}

.navbar a:hover {
  color: rgb(200, 200, 200)!important;
  cursor: pointer;
}