body {
    background-color: rgb(134, 134, 134);
}

.btn.btn-danger.add_shadow:hover {
    box-shadow: 5px 5px 15px 10px #ffffff;
}

/* .jumbutron.jumbotron-fluid.text-white.text-center{
    animation: fadein 3s;
} */
/*  
@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
   }
*/