body {
    background-color: rgb(134, 134, 134);
}

.btn.btn-danger.add_shadow:hover {
    box-shadow: 5px 5px 15px 10px #ffffff;
}

.tracklist tr button {
    opacity: 0;
    transition: opacity 0.25s;
  }
  
.tracklist tr:hover button {
    opacity: 1;
}

/* This is the way to do the transition */

.jumbutron.jumbotron-fluid.text-white.text-center {
    opacity: 0;
}

.jumbutron.jumbotron-fluid.text-white.text-center.fade {
    opacity: 1;
    transition: opacity 2s;

}

/* This is another way to do the transition using @Keyframes and Animation */

/* .jumbutron.jumbotron-fluid.text-white.text-center.fade{
    animation: fadeIn forwards 3s;
}
  
@keyframes fadeIn {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}; */
