body {
    color: white;
}

div.container-fluid.bg-color {
    background-color: #7550FE;
}

div.icon_bell {
    background-color: #b5b5b6;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

div.icon_bell:after {
        content: "";
        position: absolute;
        background-color: #7550FE;
        width: 10px;
        height: 10px;
        right: 2px;
        top: 2px;
        border-radius: 50px;
        border: 2px solid white;
}

div.icon_camera {
    display: flex;
    background-color: #FFEEDA;
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.titlesColor {
     color: #19113C;
     font-size: 15pt;
     font-weight: bold;
}

.imgOfCourseCards {
    height: 16px;
    width: 16px;
}

/* First Carousel */
#firstCarousel .carousel-control-prev,
#firstCarousel .carousel-control-next {
    width: 20px;
}

#firstCarousel .carousel-control-prev {
    left: -20px;
}

#firstCarousel .carousel-control-next {
    right: -20px;
}

/* Second Carousel */
#secondCarousel .carousel-control-prev,
#secondCarousel .carousel-control-next {
    width: 20px;
}

#secondCarousel .carousel-control-prev {
    left: -20px;
}

#secondCarousel .carousel-control-next {
    right: -20px;
}

/* Last Carousel */

#lastCarousel .carousel-control-prev,
#lastCarousel .carousel-control-next {
    width: 20px;
}

#lastCarousel .carousel-control-prev {
    left: -20px;
}

#lastCarousel .carousel-control-next {
    right: -20px;
}