body {
    background-color: #eaeded;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
    object-fit: cover;
  }
  
  .navbar {
    background-color: #232f3e;
    height: 20%;
  }
  
  .imgnav {
    width: 100px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  
  .navbar2 {
    display: flex;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #465570;
  }

  main {
    padding: 2rem;
    background-color:#eaeded;
  }
  
  .items a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .principal {
    display: flex;
  }
  
  .bg-orange {
    width: 100%;
    height: 25px;
    padding-top: 10px;
    text-align: center;
    color: white;
    background-color: #f56600;
  }
  
  .imagem {
    display: flex;
    height: 22vh;
  }
  
  .text {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-image: url("./assets/bg-image.png");
    background-size: contain;
  }
  
  .span1 {
    font-size: 20px;
  }
  
  .shop1 {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .shop2 {
    color: #2a9d8f;
    text-decoration: none;
    padding-left: 10px;
  }
  
  .placeproduct {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
  }
  
  .allproducts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .product1 {
    position: relative;
    width: 304px;
    height: 379px;
    object-fit: cover;
    margin: 1rem;
    border-radius: 20px;
  }

  .product1:hover button {
    transition: all 0.4s linear .1s;
    top: 16px;
    opacity: 1;
  }

  .buttonbuy {
    position: absolute;
    top: -344px;
    left: 16.3px;
    overflow: hidden;
    opacity: 0;

    width: 304px;
    height: 379px;

    cursor: pointer;
    border-color: white;
    border-radius: 20px;
    transition: all 0.4s linear .2s;
    background: linear-gradient(90deg, rgba(246, 245, 245, 0.846) 100%, rgba(0,0,0,0.5970763305322129) 100%);
  }

  .heart {
    position: absolute;
    top: 0px;
    left: 250px;

    width: 35px;
  }

  .buy {
    width: 15px;
  }

  .buyicon {
    width: 242px;
    height: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    text-decoration: none;
    font-weight: bold;
    color: black;

    background-color: #2A9D8F;
    border-radius: 25px;

    position: absolute;
    bottom: 10px;
    left: 30px;

  }

  /*.buttonbuy:hover {
    transition: all 0.4s linear .2s;
    opacity: 1;
    transform: translateY(1.2in);
  }*/

  .product2 {
    display: flex;
    height: 40vh;
  }

  .placeproduct1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 400px;
    height: 420px;
    margin-right: 5rem;

  }
  
  .placeproduct2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 400px;
    height: 420px;
    margin-right: 5rem;
  }

  .placeproduct3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 400px;
    height: 420px;
    margin-right: 5rem;
  }

  .placeproduct4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 400px;
    height: 420px;
  }

  
  .allproducts2 {
    display: flex;
    flex-direction: column;
  }
  
  .product1-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .product3-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .product-1 {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    min-height: 50px;
  
    object-fit: cover;
  
    font-size: 10pt;
    font-weight: 700;
  }
  
  .shop3 {
    padding-left: 20px;
    font-weight: bold;
  }
  
  .link1 {
    display: flex;
    align-items: center;
    color: #117777;
    cursor: pointer;
    text-decoration: none;
    padding-left: 11px;
  
    font-size: 9pt;
    font-weight: bold;
  }
  
  .headphones {
    display: flex;
    width: 100%;
    margin-top: 2rem
  }
  .play {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  
  .play1 {
    display: flex;
  }
  
  .play2 {
    display: flex;
    flex-direction: column;
    color: #2a9d8f;
    text-decoration: none;
    padding-left: 10px;
  }
  
  .headphones2 {
    display: flex;
    width: 100%;
  }
  
  .acessories {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  
  .acessories1 {
    display: flex;
  }
  
  .acessories2 {
    display: flex;
    flex-direction: column;
    color: #2a9d8f;
    text-decoration: none;
    padding-left: 10px;
  }
  
  .bottombar {
    display: flex;
    justify-content: center;
    height: 20%;
    background-color: #465570;
    padding-bottom: 5px;
  }
  
  a.bottombar1 {
    color: white;
  }
  
  .footend {
    display: flex;
    width: 60%;
    height: 40vh;
    margin-left: 20%;
  }
  
  .footend1 {
    display: flex;
    justify-content: center;
    background-color: #232f3e;
    height: 15vh;
    padding-top: 10px;
  }
  
  img.footend2 {
    width: 150px;
    margin-top: 50px;
  }
  
  
  
  