@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF3D1;
    flex-wrap: wrap;
}

nav img {
    width: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFF3D1;
    width: 900px;
    gap: 30px;
}


.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 50%;
    background-color: #F3DF85;
    gap: 20px;
    cursor: pointer;
}

.container div:hover {
    background-color: #1f1f12;
}

.container div span {
    color: #612C1A;
}


div.grow {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
}

.product_card {
    display: flex;
    flex-direction: column;
    width: 325px;
    border-radius: 120px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    background-color: #FFF3D1;
    color: #612C1A;
}

.title_description_main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.title_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title_description p:first-child {
    font-weight: bold;
}

.title_description h5 {
    margin-top: 10px;
    padding: 0;
}

.title_description p {
    margin: 0;
}

div.button_cart {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.product_card img {
    width: auto;
    height: 320px;
    object-fit: cover;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3DF85;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    color: #612C1A;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #1f1f12;
}

.secondContainer {
    display: flex;
    align-items: center;
    max-width: 700px;
    height: auto;
    background-color: #FFF3D1;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    gap: 50px;
    border-radius: 20px;
    color: #612C1A;
}

.secondContainer img {
    width: 100%;
    object-fit: cover;
    padding-left: 20px;
    overflow: hidden;
    flex: 1 0;
}

.secondContainer_text {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

@media all and (max-width: 905px){
    div.secondContainer {
        width: unset;
        flex-direction: column-reverse;
        gap: 0;
    }
    .secondContainer img {
        min-width: 50px;
        min-height: 50px;
        overflow: hidden;
    }
}
